doctype html
//- Indented with tabs
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Spring Meadows Church | Events
    link(rel='stylesheet', href='css/app.css')
    script(src='https://gridspree.io/ss/DtrKn7M5q4SodCCLg8b3cM.js')
  
  body
    section.hero
      .logo
        img(src="img/summer-events.png").absolute-center.small-8.medium-6.large-4
    section.row.events
        .small-12
            script(type='x-gridspree-template')
                
                {{#rows}}
                .row.data-rows
                    .small-12.medium-5.column.text-right.date.small-align-middle
                        h2.align-middle
                            span.bold.align-middle {{Month}}
                        h2
                            span.reg {{Date}}
                    .small-12.medium-5.column.info.align-middle
                        span.align-middle
                            h2 {{Name}}
                            .small-12(style="overflow:visible;")
                              {{Description}}
                {{/rows}}
    script(src='js/vendor/jquery.min.js')
    script(src='js/vendor/what-input.min.js')
    script(src='js/foundation.min.js')
    script(src='js/app.js')
